@import url("https://fonts.googleapis.com");

$point-color: #FF6060;
$black-color: #000000;
$white-color: #ffffff;
$base-padding: 3rem 6rem;

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}
