@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$point-color: #FF6060;
$background-color: #F6F6F6;
$black-color: #000000;
$white-color: #ffffff;
$base-padding: 45px 100px;

* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    body {
        overflow-x: hidden;
        margin: 0 auto;
        width: 100%;
        min-height: 100vh;
        font-family: 'Montserrat', sans-serif;
    }
}




.home__container, 
.propos__container {
    padding: 10px 100px 50px;
    @media (max-width: 768px) {
        padding: 16px;
    }
}

