@import url("https://fonts.googleapis.com");

$point-color: #FF6060;

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

.main {
    padding: 3rem 6rem;
}