@use "base";


.error__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    color: base.$point-color;
    h1 {
        font-size: 264px;
        margin: 0;
    }
    h2 {
        margin: 0;
        font-size: 36px;
        font-weight: 500;
    }
    &--link {
        font-size: 18px;
        margin-bottom: 139px;
        color: base.$point-color;
    }
    @media (max-width: 1024px) {
        h1 {
            font-size: 216px;
            margin: 32px 0;
        }
        h2 {
            font-size: 24px;
        }
    }
    @media (max-width: 768px) {
        padding: 16px;
        gap: 88px;
        h1 {
            font-size: 96px;
            margin: 80px 0 0; 
        }
        h2 {
            font-size: 18px;
            width: 260px;
            text-align: center;
        }
        &--link {
            font-size: 14px;
        }
    }
}