@use "base";

.footer {
    width: 100%;
    background-color: base.$black-color;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28px;
        padding-top: 4rem;
        img {
            width: 122px;
            height: 39px;
        }
        h3 {
            color: base.$white-color;
            padding-bottom: 2rem;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
        }
    }
    @media (max-width: 768px) {
        &__container {
            padding-top: 48px;
            gap: 14px;
            h3 {
                font-size: 12px;
                width: 133px;
                text-align: center;
                padding-bottom: 48px;
            }
        }
    }
}