@use "base";

.header {
    color: base.$point-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: base.$base-padding;
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        li {
            &.active {
                border-bottom: 1px solid base.$point-color;
            }
            a {
                text-decoration: none;
                color: base.$point-color;
                font-size: 24px;
            }
        }
        
    }
    @media (max-width: 768px) {
        width: 100%;
        padding: 16px;
        gap: 24px;
        img {
            width: 145px;
            height: 46px;
        }
        ul {
            padding: 0;
            gap: 32px;
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}