.home__container {
  padding: 10px 100px 50px;
  @media (max-width: 768px) {
    padding: 16px;
    margin-bottom: 170px;
    .home__banner {
      height: 140px;
      img {
        height: 140px;
      }
    }
  }
}
