@use "base";

.contents {
    &__title {
        font-size: 36px;
        font-weight: 500;
        color: base.$point-color;
        margin-bottom: 0;
    }
    &__location {
        font-size: 18px;
        font-weight: 500;
        color: base.$point-color;
    }
    &__host {
        display: flex;
        gap: 8px;
        align-items: center;
        &--name {
            font-size: 18px;
            font-weight: 500;
            color: base.$point-color;
        }
        &--img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}