@use "base";

.contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-size: 36px;
        font-weight: 500;
        color: base.$point-color;
        margin-bottom: 0;
    }
    &__location {
        font-size: 18px;
        font-weight: 500;
        color: base.$point-color;
    }
    &__tag {
        display: flex;
        gap: 16px;
        padding: 0;
        &--list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 14px;
            height: 25px;
            color: base.$white-color;
            background-color: base.$point-color;
            border-radius: 10px;
            padding: 0 32px;
        }
    }
    &__host {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-end;
        &--name {
            font-size: 18px;
            font-weight: 500;
            color: base.$point-color;
            text-align: end;
        }
        &--img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}