@use 'base';

.tags__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 14px;
  height: 25px;
  color: base.$white-color;
  background-color: base.$point-color;
  border-radius: 10px;
  padding: 0 32px;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}
