@use "base";

.thumbCards {
    text-decoration: none;
    li {
        list-style: none;
    }
    &__container {
        position: relative;
        
        img {
            width: 100%;
            height: 340px;
            border-radius: 10px;
            object-fit: cover;
            filter:brightness(0.75);
        }
        h2 {
            position: absolute;
            width: 40%;
            font-size: 18px;
            font-weight: 500;
            color: base.$white-color;
            margin: 0;
            bottom: 20px;
            left: 20px;
        }
    }
}
